<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/1440×1024/?house);">
  <div class="container">
    <h1>Carbonbnb lets <strong>you</strong> find<strong> great accomodations </strong>near you!</h1>
    <p>Across the street from the ordinary.</p>
    <%= link_to "Browse", "#", class: "btn btn-flat" %>
  </div>
</div>
