<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Sort by:</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
    <button type="button" class="btn btn-secondary">Location</button>
    <button type="button" class="btn btn-secondary">Capacity</button>
    <button type="button" class="btn btn-secondary">Rating</button>

  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <%= render 'collection', lists: @lists %>
  </div>
</div>
