.rating-card {
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 24px;
  padding: 8px;
  border-radius: 8px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-large {
  height: 50vh;
  max-height: 400px;
}

.card-img-top {
  object-fit: cover;
  object-position: center;
  height: 20vh;
}


.card-title a {
  text-decoration: none;
  color: #670BFF;
  font-weight: bold;
  }

.description-card {
  flex-basis: 70rem;
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 24px;
  margin-right: 24px;
  padding: 8px;
  border-radius: 8px;
}

.booking-card {
  flex-basis: 30rem;
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 24px;
  padding: 8px;
  border-radius: 8px;

}
