// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

#navsearch {
  margin-right: 40px;
}

.company-logo {
  margin-right: 16px;
  width: 40px;
  object-fit: cover;
}
